:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}



/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
}

.left {
    width: 100%;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

.right {
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    margin-left: 25px;

}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

.ham-btn {
    display: none;
}

.ham-menu-links li {
    display: none;
}


/* MOBILE CSS */
@media (max-width: 739px) {

    .left {
        /* margin: 30px 20px; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid 1px; */
        height: 50px;
        width: 100%;
    }

    nav .left a {
        font-size: 20px;
    }

    .right {
        display: none;
    }

    .ham-btn {
        display: flex;
        height: 50px;
        width: 50px;
        background: transparent;
        border: none;
    }

    .ham-btn[aria-expanded="true"] .line {
        transition:
            y 300ms ease-in,
            rotate 300ms ease-in 300ms,
            opacity 0ms 300ms;
        transform-origin: center;
    }

    .ham-btn .line {
        transition:
            y 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms 300ms;
        ;
    }

    .ham-btn[aria-expanded="true"] :is(.line-top, .line-bottom) {
        y: 45;
    }

    .ham-btn[aria-expanded="true"] .line-top {
        rotate: 45deg;
    }

    .ham-btn[aria-expanded="true"] .line-middle {
        opacity: 0;
    }

    .ham-btn[aria-expanded="true"] .line-bottom {
        rotate: -45deg;
    }

    /* HAM NAV MENU */

    .ham-menu-links {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .ham-menu-links a {
        background: transparent;
        list-style-type: none;
        text-decoration: none;
    }

    .ham-menu-links.active {
        opacity: 1;
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: white;
        padding: 10px 0;
        z-index: 10;
    }

    .ham-menu-links.active li {
        display: block;
        text-align: center;
        padding: 10px;
    }

}

@media (max-width: 380px) {
    .left {
        font-size: 20px;
    }
}